<!DOCTYPE html>
<html data-lt-installed="true"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>Seunghoon Baik's PORTFOLIO</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="static/main.css">
		<noscript><link rel="stylesheet" href="static/noscript.css" /></noscript>
	<script>
function openClose(){
	if(document.getElementById('toggle').style.display == 'block'){
		document.getElementById('toggle').style.display = 'none';
	}
	else{
		document.getElementById('toggle').style.display = 'block';
	}
}
</script></head>




	<body class="">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>MY PORTFOLIO</h1>
						<p>Check out my journey!</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="" class="logo">Look who I am</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						
						
					<ul class="links">
							<li class="active"><a href="https://j00hoon.github.io/seunghoon.baik/index.html">Seunghoon Baik</a></li>
						</ul><ul class="icons">
							<li><a href="https://www.linkedin.com/in/seunghoonbaik89/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
							<li><a href="https://github.com/j00hoon" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
						</ul></nav>

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="#">Who am I?<br>Seunghoon Baik<br></a></h2><a href="#">
								</a></header><a href="#">
								</a><a href="#" class="image main"><img src="static/sb.JPG"></a>

								<section>
									<header>
										<button onclick="openClose()">Skills and Certifications</button>
									</header>
									<div class="content" id="toggle" style="display: none;">
										<p><strong>Languages</strong>
											<br>• Java8-11, Python, Shell Script
										</p><p><strong>Web</strong>
											<br>• JavaScript, HTML5, CSS, JSP, Servlet, AJAX, jQuery
										</p><p><strong>Web Services</strong>
											<br>• RESTful
										</p><p><strong>Web and application servers</strong>
											<br>• Tomcat, Weblogic
										</p><p><strong>Framework</strong>
											<br>• Springboot, JPA, Hibernate
										</p><p><strong>Database</strong>
											<br>• MySQL, PostgreSQL
										</p><p><strong>Design pattern</strong>
											<br>• Singleton, Strategy, Factory, Builder
										</p><p><strong>SDLC</strong>
											<br>• Agile scrum
										</p><p><strong>Tool</strong>
											<br>• Eclipse STS, VS Code, IntelliJ IDEA, Git, Maven, Jenkins, Gerrit, Redmine, Star UML, Postman, Docker
										</p><p><strong>Platform</strong>
											<br>• Linux, AWS, Grafana, Prometheus
										</p><p><strong>Big Data</strong>
											<br>• Hadoop, Spark
										</p>
										<p><strong>Certification</strong>
											<br>•<a href="https://www.credly.com/badges/14b919e3-3b51-4d2e-8d37-dc41f87f0e16"> Amazon Web Services Certified Solutions Architect – Associate </a><a href="https://www.credly.com/badges/14b919e3-3b51-4d2e-8d37-dc41f87f0e16" class="icon brands fa-aws"></a>
											<br>•<a href="https://www.credly.com/badges/a388f4aa-0b38-461e-8af4-ad3a3c58db6e"> Amazon Web Services Certified Cloud Practitioner </a><a href="https://www.credly.com/badges/a388f4aa-0b38-461e-8af4-ad3a3c58db6e" class="icon brands fa-aws"></a>
											<br>•<a href="https://trailblazer.me/id/sb1101"> Salesforce Certified Administrator </a><a href="https://trailblazer.me/id/sb1101" class="icon brands fa-salesforce"></a>
											<br>•<a href="https://trailblazer.me/id/sb1101"> Salesforce Certified Platform Developer I </a><a href="https://trailblazer.me/id/sb1101" class="icon brands fa-salesforce"></a>
										</p>
										
									</div>
								</section>

							</article>

							

						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<h3><a href="https://j00hoon.github.io/career/sf/sf.html">Where is next?</a></h3><a href="https://j00hoon.github.io/career/sf/sf.html">
									</a></header><a href="https://j00hoon.github.io/career/sf/sf.html">
									</a><a href="https://j00hoon.github.io/seunghoon.baik/career/goal/goal.html" class="image fit"><img src="static/next.jpg" style="width:600px;height:400px;object-fit:cover;"></a>
									<p>Let's find out!</p>
									<ul class="actions special">
										<li><a href="https://j00hoon.github.io/seunghoon.baik/career/goal/goal.html" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h3><a href="https://j00hoon.github.io/seunghoon.baik/career/sdsa/sdsa.html">Samsung SDSA</a></h3><a href="https://j00hoon.github.io/seunghoon.baik/career/sdsa/sdsa.html">
									</a></header><a href="https://j00hoon.github.io/seunghoon.baik/career/sdsa/sdsa.html">
									</a><a href="https://j00hoon.github.io/seunghoon.baik/career/sdsa/sdsa.html" class="image fit"><img src="static/img1.jpeg" style="width:600px;height:400px;object-fit:cover;"></a>
									<p>My first professinal career in US!</p>
									<ul class="actions special">
										<li><a href="https://j00hoon.github.io/seunghoon.baik/career/sdsa/sdsa.html" class="button">Full Story</a></li>
									</ul>
								</article>
								<!-- <article>
									<header>
										<h3><a href="career/miu/miu.html">Maharishi International University</h3>
									</header>
									<a href="career/miu/miu.html" class="image fit"><img src="career/miu/images/img1.JPG" style="width:600px;height:400px;object-fit:cover;" /></a>
									<p>Came to the states and explore more about computer science!</p>
									<ul class="actions special">
										<li><a href="career/miu/miu.html" class="button">Full Story</a></li>
									</ul>
								</article> -->
								<article>
									<header>
										<h3><a href="https://j00hoon.github.io/seunghoon.baik/career/porters/porters.html">Porters Corporation<br></a></h3><a href="https://j00hoon.github.io/seunghoon.baik/career/porters/porters.html">
									</a></header><a href="https://j00hoon.github.io/seunghoon.baik/career/porters/porters.html">
									</a><a href="https://j00hoon.github.io/seunghoon.baik/career/porters/porters.html" class="image fit"><img src="static/por2.jpg" style="width:600px;height:400px;object-fit:cover;"></a>
									<p>My Journey as a software enginner has begun!</p>
									<ul class="actions special">
										<li><a href="https://j00hoon.github.io/seunghoon.baik/career/porters/porters.html" class="button">Full Story</a></li>
									</ul>
								</article>
								<article>
									<header>
										<h3><a href="https://j00hoon.github.io/seunghoon.baik/career/soongsil/soongsil.html">Soongsil University</a></h3><a href="https://j00hoon.github.io/seunghoon.baik/career/soongsil/soongsil.html">
									</a></header><a href="https://j00hoon.github.io/seunghoon.baik/career/soongsil/soongsil.html">
									</a><a href="https://j00hoon.github.io/seunghoon.baik/career/soongsil/soongsil.html" class="image fit"><img src="static/img2.jpeg" style="width:600px;height:400px;object-fit:cover;"></a>
									<p>4 years as a student of computer science was the best experience I have ever had!</p>
									<ul class="actions special">
										<li><a href="https://j00hoon.github.io/seunghoon.baik/career/soongsil/soongsil.html" class="button">Full Story</a></li>
									</ul>
								</article>
								
							</section>

					</div>

				
				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>160 River St, Hackensack 07601, New Jersey, US</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">(201) 691-5073</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a href="#">seunghoon.baik89@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://www.linkedin.com/in/seunghoonbaik89/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/j00hoon" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
<!--					<div id="copyright">
						<ul><li>&copy; Untitled</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li></ul>
					</div>-->

			<div class="bg fixed" style="transform: none;"></div><a href="#navPanel" id="navPanelToggle">Menu</a></div>

		<!-- Scripts -->
			<script src="static/jquery.min.js"></script>
			<script src="static/jquery.scrollex.min.js"></script>
			<script src="static/jquery.scrolly.min.js"></script>
			<script src="static/browser.min.js"></script>
			<script src="static/breakpoints.min.js"></script>
			<script src="static/util.js"></script>
			<script src="static/main.js"></script><div id="navPanel"><nav></nav><a href="#navPanel" class="close"></a></div>

	
</body></html>