<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>Seunghoon's Blog</h1></div>
    </div>

    {% for data in data_list: %}
        {% if data["id"] == blog_id : %}
        <div class="content">
            <div class="card">
                <h2>{{ data["title"] }}</h2>
                <p class="text">{{ data["subtitle"] }}</p>
                <a href="{{ url_for('get_read', blog_id=data['id']) }}">Read</a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>